__pycache__
**/__pycache__

main_app/migrations/__pycache__/0001_initial.py
main_app/migrations/__pycache__/0002_piece.py
main_app/migrations/__pycache__/0003_remove_piece_artistid.py
main_app/migrations/__pycache__/0004_auto_20200926_0423.py
main_app/migrations/__pycache__/0005_auto_20200926_0423.cpython-38.pyc
main_app/migrations/__pycache__/__init__.cpython-38.pyc

monikr/__pychache__


