/* after you are done with a branch, after it gets approved and merged, you have to delete feature/css
bc you dont want to have oudated code in it. deleteing it and redoing the branch will. have your
up to date code */

/* * {
    text-align: center;
} */
h1{
    text-align: center;
    color: purple;
}

a:hover{
    color: pink;
}

.about-title{
    color: purple;
    font-size: 60px;
}

.base-footer, 
.homepage,
.about-body {
    text-align: center;
}

.about {
    text-align: justify;
    padding: 0 80px 0 80px;
}
