
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <a href="/artist/create">add a new artist</a>
    <hr />
    {% for artist in artists %}
      <a href='/artist/{{artist.id}}'>
        <p>Name: {{ artist.monikr }}</p>
      </a>
      <a href='/user/{{artist.user.username}}'>
        <p>{{artist.user.username}}</p>
      </a>
{#        {% if cat.age > 0 %}#}
{#          <p>Age: {{ cat.age }}</p>#}
{#        {% else %}#}
{#          <p>Age: Kitten</p>#}
{#        {% endif %}#}
        <hr />
        {% endfor %}
{% endblock %}