{% extends 'base.html' %}
{% load static %}
{% block content %}

  <h2 class="artists-text">artists</h2>   
    wish to see yourself here? click here 👉🏼 <a href="/artist/create">new artist</a></br> 
 
  {% for artist in artists %}
    <ul class="collection">
      <li class="collection-item avatar">
        <img src="{{ artist.icon }}" alt="" class="circle">
        <span class="title"> <a href='/artist/{{artist.id}}'>
        <p>Name: {{ artist.monikr }}</p>
        </a></span>
        <p>{{ artist.pronouns }}<br>
          {{ artist.artist_statement }}
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
    </ul>
    {% endfor %}
    {% endblock %}








      {% comment %} <a href='/user/{{artist.user.username}}'>
        <p>{{artist.user.username}}</p>
      </a> {% endcomment %}
{#        {% if cat.age > 0 %}#}
{#          <p>Age: {{ cat.age }}</p>#}
{#        {% else %}#}
{#          <p>Age: Kitten</p>#}
{#        {% endif %}#}