{% extends 'base.html' %}
{% load cloudinary %}

{% block content %}
    {% if not not currentUser == True %}
        hi
    {% endif %}

    {% comment %} <a href="../"> <- return to search results</a> {% endcomment %}
    <div style="background: {{ artist.bg_color }}">

        <h1><em>{{ artist.monikr }}</em></h1><br>
        <h6 style="text-align: center">{{ artist.artist_statement }}</h6>
        <div class="row">
            <div class="column">
                <img src="{{ artist.icon }}" alt="" style="height:190px"><br>
                {#    cloudinary.utils.cloudinary_url("iKdy0bn_wm1mhp",#}
                {#                                width = 90,#}
                {#                                height = 90,#}
                {#                                crop = "thumb",#}
                {#                                gravity = "face")#}
                {#    {% cloudinary image width=120 height=120 crop="fill" %}#}
                {#    <img src="https://res.cloudinary.com/dvviaroqm/image/upload/v1601239146/iKdy0bn_wm1mhp.jpg" alt="icon" />#}
                {{ artist.pronouns }}<br>
                {{ artist.medium }}<br>
                <a href="salon">{{ artist.monikr }}'s salon</a>
            </div>
            <div class="column">
                {% for e in text_exhibit %}
                    <a href="../../text_exhibit/{{ e.id }}"><strong>{{ e.title }}</strong></a><br>
                    {{ e.content }}<br>
                {% endfor %}

                {% for p in photo_exhibit %}

                    <a href="../../photo_exhibit/{{ p.id }}"><strong>{{ p.title }}</strong><br>
                        <img style="height:50%; width:50%;" src="{{ p.image.url }}" alt="uploaded image"></a><br>
                {% empty %}
                    <p style="text-align:center;margin-left:auto; margin-right:auto;">

                {% endfor %}
            </div>
            <div class="column">
                <h5>contact:</h5>
                {% for e in contact %}
                    {{ e.website }}
                {% endfor %}
                <h5>commission: </h5>
                {% for e in commission %}
                    taking commissions?
                    {% if e.isOpened == False %}
                    not right now<br>
                    {% else %}
                    yes!<br>
                    {% endif %}
                    {% if e.disclaimer %}
                    commission disclaimer: {{ e.disclaimer }} <br>
                    {% endif %}
                {% endfor %}
                {% for u in user %}
                    {% if currentUser.username == u.username %}
                        <a href="commission/{{ artist.id }}/update">update commissions</a><br>

                        <a href="update/">edit profile</a><br>
                        <a href="contact/{{ artist.id }}/update">update contact</a> |
                        <a href="../../text_exhibit/create/">upload a text post</a> |
                        <a href="../../photo_exhibit/upload/">upload a photo</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
            {% if not photo_exhibit and not text_exhibit %}
        <h4> {{ artist.monikr }} has not yet uploaded any of their art up. try again next time 😊 </h4>

            {% endif %}

    </div>
{% endblock %}