{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body>
        <a href="/" style="text-align:center;">
        <h2>monikr</h2>
        </a>
        <hr />
        <div class="about">
        <p style="text-align: center;">we reserve the right to remove anything we find offensive without a subjectively good enough reason<br>
            because we believe that art shouldn’t be limited for the most part, content on this app may be explicit.
            there is not a nswf tag, but there is a tw tag.</p>
        <h6 style="font-size: 2.5rem;">artists <i style="font-size: 30px; text-align:justify;" class="material-icons">person</i>-</h3>
            <p>artist must submit a portfolio of at least 3 quality examples of their work
            work will be the major factor in application approval
            judgement of work is not harsh
            checking that work isn’t racist or overtly offensive without a subjectively good enough reason
            checking that the work of is of a minimum level of skill and quality
            experience is not needed but talent will be judged just to the slightest to maintain a (achievable) standard
                may submit application again in 1 month with new work submitted
            artist must submit a moniker
            this will be approved based on availability
            artist must send a link to some sort of site or press
            work that is deemed offensive without a subjectively good enough reason is reason for rejection of application
                this could be an ig or twitter, just something to show intent</p>
        <h6 style="font-size: 2.5rem;">salon <i style="font-size: 30px;" class="material-icons">group</i>-</h3>
            <p>artist have control over their specific salons
            they may become or appoint a moderator and create rules
            they may ask us to handle moderator
            we will give them a survey on how they would like their salon run and that will dictate their specific content policy
                but we reserve the right to remove anything we find offensive without a subjectively good enough reason</p>
        <h6 style="font-size: 2.4rem;">gallery <i style="font-size: 29px;" class="material-icons">photo</i>-</h3>
            <p>content posted should be original work only
            credit should be given to correct people
            we reserve the right to remove anything we find offensive without a subjectively good enough reason</p>
        </div>
    </body>
{% endblock %}