{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>monkir</title>
</head>
<body>
<nav>
    <div>
        <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>monikr</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/"><i class="material-icons">home</i></a></li>
            <li><a href="/artist">view artists</a></li>
        </ul>
    </div>
</nav>
        <!-- {% if user.is_authenticated %} -->
        <!-- urls for login and profile -->
        <!-- {% else %} -->
        <!-- login anf signup urls -->
        <!-- {% endif %} -->
        <!-- a tag with href -->
        <!-- <a href="/"><h1>welcome to monikr</h1></a> -->
<div class="block-content">
    {% block content %}
    {% endblock %}
</div>   

{% block css %}
{% endblock %}

<div>
    <footer>
        <div>
            <div>
            <div>
                <ul>
                <li><a class="grey-text text-lighten-3" href="/about">about us</a></li>
                </ul>
            </div>
            </div>
            all rights reserved Monikr 😘, 2020
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>