{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>monkir</title>
</head>
<body>
<nav>
    <div>
        <a href="/" class="brand-logo"><i class="material-icons">cloud</i>monikr</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/"><i class="material-icons">home</i></a></li>
            {% if not user.is_authenticated %}
            <li><a href="{% url 'login' %}">login</a></li>
            <li><a href="{% url 'signup' %}">sign up</a></li>
            {% else %}
            <li><a href="{% url 'logout' %}">logout</a></li>
            <li><a href="{% url 'profile' user.username %}">{{ user.username }}</a></li>
            {% endif %}
            <li><a href="{% url 'artist_index' %}">view artists</a></li>
            <li><a href="{% url 'about' %}">about monikr</a></li>
        </ul>
   
    </div>
</nav>
<div class="block-content">
    {% block content %}
    {% endblock %}
</div>
{% block css %}
{% endblock %}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

<script>
$(document).ready(function(){

  // Initialize materialize data picker
  $('select').formSelect();
  $('.isMultiple').isMultiple();

});
</script>
</body>
</html>