{% extends 'base.html' %}
{% load materializecss %}
{% load cloudinary %}
{% load static %}

{% block content %}
     <!-- A standard form for sending the image data to your server -->
  <div id='backend_upload'>
    <h1>upload an icon</h1>
    <form action="{% url 'icon_upload' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ backend_form }}
      <button class="btn btn-primary pink darken-4" type="submit">Upload<i class="material-icons right">cloud_upload</i></button>
      {% comment %} <input type="submit" value="upload"> {% endcomment %}
    </form>
    {% if posted %}
      <div class="results">
        {% if posted.errors %}
          Errors: {{ posted.errors }}
        {% else %}
          <div class="uploaded_info">
            <div class="image">
              {% cloudinary posted.image THUMBNAIL %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock %}