{% extends 'base.html' %}

{% block content %}
    <h1>login</h1>
    <form action="/login/" method="POST">
        {% csrf_token %}
        <label for="username">
            <input type="text" name="username" placeholder="username"/>
        </label>

        <input type="password" name="password" placeholder="password"/>
        </label>
        {% comment %} <input type="submit" value="login"/> {% endcomment %}
        <button class="btn btn-primary pink darken-4" type="submit" value="login">login<i class="material-icons right">send</i></button>

    </form>
{% endblock %}