{% extends 'base.html' %}

{% block content %}
    {% if error %}
        <div class="alert alert-warning">
            <strong>Error!</strong> {{ error }}
        </div>
    {% endif %}

    <h1>sign Up</h1>
    <form action="/signup/" method="POST">
        {% csrf_token %}
        <label for="username">
            <input type="text" name="username" placeholder="username"/>
        </label>
        <label for="password">
            <input type="password" name="password" placeholder="password"/>
        </label>
        <input type="submit" value="sign Up"/>
    </form>
{% endblock %}