
{% extends 'base.html' %}

{#{% block content %}#}
{#    {% if error %}#}
{#        <div class="alert alert-warning">#}
{#            <strong>Error!</strong> {{ error }}#}
{#        </div>#}
{#    {% endif %}#}
{##}
{#    <h1>sign up</h1>#}
{#    <form action="/signup/" method="POST">#}
{#        {% csrf_token %}#}
{#        <label for="username">#}
{#            <input type="text" name="username" placeholder="username"/>#}
{#        </label>#}
{#        <label for="password">#}
{#            <input type="password" name="password" placeholder="password"/>#}
{#        </label>#}
{#        <input type="submit" value="sign up"/>#}
{#    </form>#}
{#{% endblock %}#}
{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary pink darken-4" type="submit">i'm sure<i class="material-icons right">send</i></button>
  </form>
{% endblock %}